.user-profile{
     background: url('../plugins/images/profile-menu-dark.png') center center/cover no-repeat;
 }

.user-profile .user-pro-body .u-dropdown{
    color: #ffffff;
}

#project-timeline .steamline .sl-left{
    margin-left: -7px;
}

#section-line-1, #section-line-2, #section-line-3{
    padding: 0;
}


.select2-container-multi .select2-choices .select2-search-choice{
    border: 1px solid #929291;
    border-radius: 60px;
    background: #edda54;
    padding: 5px 5px 5px 20px;
    font-size: 12px;
}


.select2-container-multi .select2-search-choice-close{
    left: 7px;
    top: 4px;
}

.task-checkbox{
    display: inline;
}

.task-completed{
    background: #defbe3;
}

.task-completed label{
    color: #c5c5c5;
}

.task-completed .edit-task{
    text-decoration: line-through;
}

/*task ease transition*/
#task-list-panel {
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}

.stop-timer-modal{
    width: 170px;
}

#active-timer-modal{
    font-size: xx-large;
}

@media (min-width: 768px){
    .sidebar {
        margin-top: 70px;
        padding-top: 0;
    }

}
.client-panel-name{
    padding: 3px 0 0 8px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background: #00c292;
}

.member-panel-name{
    padding: 3px 0 0 8px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background: #f1c411;
}


.admin-panel-name{
    padding: 3px 8px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background: #ed4040;
}

.project-admin-panel-name{
    padding: 3px 0 0 8px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background: #5475ed;
}

.chat-main-box .chat-left-aside{
    border: 0;
}

.chat-right-aside{
    border-left: 1px solid rgba(120,130,140,.13);
}

.logo{
    overflow: hidden;
    display: block;
}

.logo b{
    float: left;
}

.logo span{
    display: block;
    margin-top: 19px;
}

.logo img{
    /* max-height: 40px; */
    display: inline-block;
    max-width: 130px;
    line-height: 60px;
    text-align: center;
    /* margin: 18px 0; */
    padding: 10px 0;
}
/*.admin-logo{*/
/*background-color: #ed4040;*/
/*}*/
/*.member-logo{*/
/*background-color: #f7c80c;*/
/*}*/
/*.client-logo{*/
/*background-color: #00c292;*/
/*}*/
/*.project-admin-logo{*/
/*background-color: #5475ed;*/
/*}*/

.error-box{background:url(../plugins/images/error-bg.jpg) center center no-repeat #fff!important;}

.login-register{
    background: url(../login-bg.jpg) center center/cover no-repeat!important;
    position: absolute;

}

.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus{
    background-image: linear-gradient(#000000,#a4a3a5),linear-gradient(rgba(120,130,140,.13),rgba(120,130,140,.13));
}

.auth-logo{
    font-size: 25px;
    margin: 7px 10px;
}

.language-switcher, .company-switcher{
    margin: 12px 5px 0 0;
}

.language-switcher .dropdown-toggle,
.language-switcher .dropdown-toggle:hover,
.language-switcher .dropdown-toggle:focus,
.language-switcher .dropdown-toggle:active,
.company-switcher .dropdown-toggle,
.company-switcher .dropdown-toggle:hover,
.company-switcher .dropdown-toggle:focus,
.company-switcher .dropdown-toggle:active{
    background: transparent;
    font-weight: 200;
    color: #FFFFFF;
    border:none;
    width: 83%;
    padding-right: 0;
}

.datepicker-dropdown{
    z-index: 9999 !important;
}

.vtabs{
    width: 100%;
}
.vtabs .tabs-vertical{
    width: 180px;
}

@media screen and (max-width: 58em){
    .sttabs nav a span {
        display: block;
    }
}

.table-responsive{
    overflow: auto;
}

.table-responsive-froid{
    overflow: hidden;
}

.table-responsive .dropdown-menu{
    right: 0;
    left: auto;
}

.top-left-part a{
    height: 60px;
}

#ticket-messages{
    max-height: 350px;
    overflow-y: auto;
}

#footer-sticky-notes{
    right: 12px;
    background: rgba(0, 0, 0, 0.80);
    bottom: 0;
    position: fixed;
    width: 300px;
    z-index: 3;
}

#sticky-note-header{
    padding: 10px;
    color: #ffffff;
    border-bottom: 1px solid #ccc;
}

#sticky-note-list{
    padding: 0 5px;
    overflow-y: auto;
}

#sticky-note-list .sticky-note{
    margin: 5px 0;
    color: #FFFFFF;
}

#sticky-note-list .sticky-note .well{
    margin-bottom: 0;
}

#sticky-note-list .sticky-note .well hr{
    border-color: #FFFFFF;
}

.board-column{
    background-color: #fffefe;
    /*margin-left: 10px;*/
}

.board-column .panel-heading{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 20px 10px;
}

.board-column .panel-body{
    padding: 10px;
    font-size: 1.3rem;
}

.lobipanel .panel-body{
    cursor: move;
    padding: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.board-column .panel-heading a i{
    font-size: 14px;
}

.bg-grey{
    background-color: #fafbfb;
}

.p-t-5{
    padding-top: 5px !important;
}
.p-b-5{
    padding-bottom: 5px !important;
}
.p-t-15{
    padding-top: 15px !important;
}
.p-b-15{
    padding-bottom: 15px !important;
}

.p-12{
    padding: 12px !important;
}

@media (min-width: 992px) {
    .container-scroll > .container-row {
        overflow-x: auto;
        white-space: nowrap;
    }

    .container-scroll > .container-row > .col-md-3 {
        display: inline-block;
        float: none;
        white-space: normal;
    }

    /* Overwrite the default to keep the scrollbar always visible */

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        height: 7px;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgb(117 143 187);
        -webkit-box-shadow: 0 0 1px rgb(83 17 17 / 50%);
    }
}

.container-scroll > .container-row {
    margin-top: 24px;
}


.widget-title{
    font-size: 13px !important;
    color: #2b2b2b;
    font-weight: 400 !important;
    text-transform: uppercase;
}

.two-part li span, .two-part li i{
    font-size: 17px;
}

.dashboard-stats .white-box{
    padding: 25px 12px;
}

.dashboard-stats .col-sm-3 div{
    /*margin-top: 16px;*/
}

.dashboard-stats .col-xs-3 i{
    color: #ffffff;
    font-size: 14px;
}


.dashboard-stats .col-xs-9 .counter {
    font-size: 20px;
}

.dashboard-stats .col-xs-3 span{
    padding: 18px;
    border-radius: 50%;
}
.dashboard-stats .col-xs-3 div span{
    padding: 16px 17px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: inline-block !important;
}

.permission-section{
    background: #fdfdfd;
    padding: 0;
}

.role-members{
    padding-bottom: 19px !important;
    padding-top: 17px !important;
}

ul.thumbnails.image_picker_selector li{
    margin-right: 5px;
}

.mailbox{
    max-height: 350px;
    overflow-y: auto;
}

#top-notification-count{
    padding: 0px 8px;
    background: #ff0000;
    color: #ffffff;
    border-radius: 50%;
}

.user-pro{
    background-color: #F5F5F5;
}

.m-t-25 {
    margin-top: 25px !important
}

.login-box{
    box-shadow: -2px 6px 40px -12px rgba(79,79,79,1);
}

@media (max-width: 1024px){
    .admin-panel-name{
        padding: 1rem;
    }
    .sidebar #side-menu .user-pro>a{
        padding: 17px 5px 16px 15px !important;
    }

    .top-left-part .logo{
        display: none;
    }
}


.shw-rside{
    width: 50%;
}

.task-description{
    font-size: 12px;
    margin-top: 10px;
    max-height: 10vh;
    overflow-y: auto;
    border-radius: 5px;
}

#sub-task-list{
    /*max-height: 21vh;*/
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
}

#sub-task-list li{
    border: none;
}

#sub-task-list li:hover{
    background-color: #f3f3f3;
}

#comment-container{
    position: relative;
    min-height: 10vh;
}

#comment-box{
    width: 95%;
}

#comment-list{
    /*max-height: 20vh;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
}

.login-box{
    margin: 0% auto 0;
}

/*gantt chart*/

.gantt_add, .gantt_grid_head_add{
    background-image: none;
}

.gantt_task_progress_drag{
    display: none !important;
}

.gantt_link_point{
    display: none !important;
}

.gantt_task_drag.task_left, .gantt_task_drag.task_right{
    cursor: default;
}

.gantt_grid{
    background: #ffffff;
}

.gantt_grid_data .gantt_row, .gantt_grid_data .gantt_row.odd{
    background-color: #ffffff;
}

.sidebar1 #side-menu .user-pro>a{
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .vtabs, .vtabs .tab-content{
        display: block;
    }

    .shw-rside{
        width: 100%;
    }
}

.sidebar1 #side-menu .user-pro>a {
    padding: 15px 4px 15px 15px!important;
}

.fc-toolbar h2{
    font-size: 14px !important;
}

.two-part li:first-child{
    width: 25%;
}

.two-part li:nth-child(2){
    width: 72%;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-img-top {
    border-top-right-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
}


/*New custom reset css*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.white-box {
    border-radius: 5px;
    background: rgba(255,255,255,0.65);
    /* padding: 15px 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03); */
    /* box-shadow: 2px 2px 5px rgb(0 0 0 / 8%), -5px 13px 20px 20px rgb(244 245 250 / 45%), -1px -1px 30px rgba(0,0,0,0.2); */
    /*box-shadow: 1px 3px 6px 0px #0000003d;*/
}
.white-box1 {
    border-radius: 2px;
    background: #ffffff;
    /* padding: 15px 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03); */
    /* box-shadow: 2px 2px 5px rgb(0 0 0 / 8%), -5px 13px 20px 20px rgb(244 245 250 / 45%), -1px -1px 30px rgba(0,0,0,0.2); */
    box-shadow: 1px 3px 6px 0px #0000003d;
}
.boundry-radius{
   /* border-radius: 50px !important;*/
    background: #ffffffc2;
    /* padding: 15px 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03); */
    /* box-shadow: 2px 2px 5px rgb(0 0 0 / 8%), -5px 13px 20px 20px rgb(244 245 250 / 45%), -1px -1px 30px rgba(0,0,0,0.2); */
    box-shadow: 1px 3px 6px 0px #0000003d;
}



.btn-group-sm>.btn, .btn-sm, .btn-group-xs>.btn, .btn-xs{
    line-height: initial;
}

#side-menu>li:not(.user-pro)>a {
    padding: 15px 17px 15px 20px;
}

#side-menu>li.user-pro a {
    border-left: 0;
}


.slimscrollsidebar{
    overflow-y: hidden !important; overflow: hidden !important;
}

#side-menu>li:not(.user-pro) ul a {
    border-left: 0;
}

.d-block{
    display: block;
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline{
    margin-left: 0;
}

.bg-title{
    padding: 10px 15px 0;
    overflow: unset;
}

.bg-title h4{
    font-size: 14px;
    font-weight: normal;
}

.bg-success-gradient{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.bg-danger-gradient{
    background-image: linear-gradient(to right, #fa709a 0%, #fe8f40 100%);
}

.bg-warning-gradient{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.bg-info-gradient{
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.bg-inverse-gradient{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.font-light{
    font-weight: 300 !important;
}

.readonly-background[readonly]{
    background-color: #FFF !important;
}

#project-milestones{
    max-height: 400px;
    overflow-y: auto;
}

.milestone-count{
    position: relative;
}

.milestones{
    padding: 25px 15px 15px 50px;
    font-size: 12px;
}

.milestones .ribbon-corner:before{
    border: 23px solid transparent;
    border-top-color: #ff6849;
    border-left-color: #ff6849;
    font-size: 12px;
}

.milestones .ribbon-corner{
    padding: 0px 0 0 6px;
}



@media (min-width: 768px){

    .tableFixHead          { overflow-y: auto; max-height: 700px; }
    .tableFixHead thead th { position: sticky; top: 0; }

    /* Just common table stuff. Really. */
    table  { border-collapse: collapse; width: 100%; }
    th, td { padding: 8px 16px; }
    th     { background:#fff; }
}

/* attendance info */
.punch-det {
    background-color: #f9f9f9;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px 15px;
}

.punch-det h6 {
    line-height: 20px;
    margin-bottom: 0;
}

.punch-det p {
    color: #727272;
    font-size: 14px;
    margin-bottom: 0;
}

.punch-info {
    margin-bottom: 20px;
}

.punch-hours {
    align-items: center;
    border: 5px solid #5fc798;
    border-radius: 50%;
    display: flex;
    font-size: 18px;
    height: 120px;
    justify-content: center;
    margin: 0 auto;
    width: 120px;
}

.statistics .row {
    margin-left: -5px;
    margin-right: -5px;
}

.statistics .row > div {
    padding-left: 5px;
    padding-right: 5px;
}

.punch-status .stats-box {
    margin-bottom: 0;
}

.stats-box {
    background-color: #f9f9f9;
    border: 1px solid #e3e3e3;
    margin-bottom: 15px;
    padding: 5px;
}

.stats-box p {
    margin: 0;
    font-size: 12px;
}
.stats-box > h6 {
    margin-bottom: 0;
}

.recent-activity .res-activity-list {
    max-height: 336px;
    list-style-type: none;
    margin-bottom: 0;
    overflow-y: auto;
    padding-left: 30px;
    position: relative;
}

.recent-activity .res-activity-list li {
    margin-bottom: 15px;
    position: relative;
}

.recent-activity .res-activity-list li:before {
    content: "";
    position: absolute;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    left: -30px;
    top: 0px;
    border: 2px solid #ff9b44;
    margin-right: 15px;
    z-index: 2;
    background: #fff;
}
.recent-activity p {
    font-size: 13px;
    margin-bottom: 0;
}

.recent-activity .res-activity-time {
    color: #bbb;
    font-size: 12px;
}

.recent-activity .res-activity-list:after {
    content: "";
    border: 1px solid #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 4px;
}

.note-editor .panel-black .panel-heading a, .panel-inverse .panel-heading a {
    color: #000000;
}

.m-r-n-25 {
    margin-right: -25px;
}

.m-l-n-25 {
    margin-left: -25px;
}
.p-b-15 {
    padding-bottom: 15px !important;
}
.dashboard-settings {
    width: 450px;
}

.dashboard-settings li {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 200px;
}

.dashboard-settings li:first-child, .dashboard-settings li:last-child {
    float: none;
    width: 100%;
}
.iframe-container {
    overflow: hidden;
// Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625);
    padding-top: 56.25%;
    position: relative;
    min-height: 75vh;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.open-close{
    padding: 0 23px !important;
    background: #002f76;
    color: #ffffff;
}
.open-close i{
    color: #ffffff;
}
.fixed-topbar .navbar{
    position: fixed;
    top: 0;
    left: 8%;
    /*  box-shadow: 8px -12px 20px 0px #000000d9;*/
}
/*.fixed-topbar div#page-wrapper{
    margin-top: 60px;
}*/

.navbar-static-top {
    z-index: 9 !important;
    border-width: 0 0 1px;
}

.navbar-default {
    background-color: transparent;
    border-color: #ffffff;
}


.border-pms{
     height: 87vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.outer-side{
    border-radius: 40px;
    /* width: 82%; */
    background: url('../img/home6.jpg') #DFDFDF no-repeat;
    padding-top: 60px;
    background-size: 100% auto;
    /* height: 92vh;
    overflow: auto;*/
    position: fixed;
    right: 0;
    left: 8%;
    border-right: 10px solid #002f76;
    bottom: 10px;
    top: 10px;

}
.outer-side2{
    left: 0% !important;
}
.btn-width150{
    width: 180px !important;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted #3330!important;
    outline: 0px auto -webkit-focus-ring-color!important;
    outline-offset: -2px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
    box-shadow: -2px 5px 6px 0px #00000040;
    border: 4px solid white;
}
.edit-rfi a{
    color: white;
}

.detail-month{
    margin-left: 10px!important;
    float: right;
    margin-right: 15px;
    font-size: 12px !important;
}

.note-editor.note-frame {
    border: 1px solid #a9a9a9 !important;
    background: #ffffff;
    border: 1px solid #003481;
    border-radius: 18px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 9px;
    padding-left: 8px;
    padding-right: 15px;
}

.btn{
    /*padding:12px 25px;*/
}
.border-radius18{
    border-radius: 18px;
}

.timer-modal{
    height: 30px !important;
    padding-top: 4px !important;
    padding-bottom: 5px !important;
}


.transparent-box {
    margin-bottom: 0px;
    border-radius: 2px;
    background: transparent;
}

.punch-items th, td{
    white-space: nowrap;
}

.punch-items{
    overflow-x: scroll;
    padding: 1px 3px;
    /* border: 1px solid; */
    /* box-shadow: 1px 7px 20px 0px #0000002b; */
    border-radius: 7px;
    padding-top: 0;
}

.mrgn-side{
    margin: 0px;
    padding: 4px;
}


.punch-items tbody tr{
    box-shadow: 0px 4px 3px 2px #00000014;
    /* height: 23px; */
    border-radius: 7px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    /* padding: 5px;
     line-height: 2.2;*/
    vertical-align: middle;
    border-top: none;
}

table {
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 1px 14px;
}

.punch-items tbody tr{

    box-shadow: -2px 4px 6px 0px #0000001a;
}

.table2 tr td {
    border-right: 1px solid #cbcbcb !important;
}

.table2 tr td:first-child {
    border-left: 1px solid #cbcbcb !important;
}

.rfq-shadow tbody tr{

    box-shadow: -2px 4px 6px 0px #0000001a;}

tbody tr{

    /*background: white;*/
}

tbody tr{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px !important;
    border-radius: 20px !important;
    /* box-shadow: -2px 4px 6px 0px #0000001a; */
}

td a .btn-circle{
}

table-responsive,  tbody tr {
    border: 1px solid black !important;  border-radius:16px;
}

.boundry-radius .table-responsive tbody tr{
    /* box-shadow: -2px 4px 6px 0px #0000001a;*/


}

.btn1{
    padding: 5px 14px;
}

.form-shadow {
    box-shadow: 1px 3px 6px 0px #0000003d;
}


.form-shadow label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    letter-spacing: 2px;
}

.dropzone.dz-clickable {
    cursor: pointer;
    border-radius: 18px !important;
}
.table > thead > tr > th {
    vertical-align: center;
    background: transparent;
}

.table > thead > tr > td {
    vertical-align: center;
    border-bottom: 2px solid #ddd;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

td, th {
    white-space: nowrap;

}

.td-padding{
    padding-top: 8px !important;
    padding-bottom: 0px !important;
}

.td-padding-rfi {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
}


.td-status-padding{
    padding-top: 8px !important;
}

.table-responsive tr{
    border-bottom: 1px solid #cbcbcb;
}

.padding-table{
    padding: 12px 10px;
}
.table-center{
    text-align: center;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
   border: 1px solid #ddd;
    white-space: nowrap !important;
}
.table-no-bordered>tbody>tr>td, .table-no-bordered>tbody>tr>th, .table-no-bordered>tfoot>tr>td, .table-no-bordered>tfoot>tr>th, .table-no-bordered>thead>tr>td, .table-no-bordered>thead>tr>th {
/*    border: 1px solid #ddd;*/
    white-space: nowrap !important;
}

#wrapper table {
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 0px;
}
#wrapper table thead tr{
    box-shadow: -2px 1px 4px 0px #0000001c;
}
#wrapper table thead tr th{
    padding: 12px 10px !important;
    background: #002f76 !important;
    color: #ffffff !important;
}
/*table thead tr th:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
table thead tr th:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}*/
.maincat{
    background-color: #efefef !important;
}
.subcat{
    background-color: #b7b6b6 !important;
    color: #fff;
}
#wrapper table.dataTable {
    clear: both;
    margin-top: -13px !important;
    /* margin-bottom: 6px !important; */
    /* max-width: none !important; */
    border-collapse: separate !important;
}

.style-date{
    border: 1.3px solid;
    text-align: center;
    color: #003481;
    padding: 6px;
}
tr td{
   /* background: rgba(255, 255, 255);*/
    border-bottom: 1px solid #cbcbcb !important;
}
/* tr td:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
tr td:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}*/
.heading-font{
    font-family: system-ui;
}

.daterangepicker.ltr .ranges {
    float: none;
}

.cancelBtn{
    background: #e74747;
    border: 1px solid #e74747;
    border-radius: 24px;
    /* text-transform: uppercase; */
    letter-spacing: 1px; padding: 11px 30px;
}

.applyBtn{
    letter-spacing: 1px;
    padding: 11px 30px;  border: 1px solid;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
    border-radius: 0px !important;
}

.edit-btn{
    background: #4caf5099;
    border: 1px solid #93cf96;
    color: white;
}

.reply-btn{
    background: #2196f37d;
    border: 1px solid #92cbf9;
    color: white;
}
.btn-grey {
    padding: 5px;
    background: #aaa;
    color: #fff;
}
.comment-btn{
    background: #0034817d;
    border: 1px solid #829bc1;
    color: white;
}

.form-control-normal {
    width: 30%;
    padding: 5px;
    border-radius: 5px;
}

.view-btn{
    background: #1da7c491;
    border: 1px solid #1da7c491;
    border-radius: 26px;
    color: white;
}

.td-status-rfi{
    padding-top: 8px !important;
}


.td-status-padding-rfi {
    padding-top: 7px !important;
    padding-bottom: 9px !important;
}
.fixed-topbar .navbar-header{
    position: relative;
}
.fixed-topbar .navbar-header:before{
    top: -10px;
    left: 52%;
    position: absolute;
    right: -10px;
    height: 11px;
    background: #002f76;
    width: 55%;
    z-index: -1;
    transform: skewX(-45deg);
    transform-origin: 100%;
}
footer:before{
    top: -10px;
    left: 60%;
    position: absolute;
    right: -10px;
    height: calc(100% + 10px);
    background: #002f76;
    width: 45%;
    z-index: -1;
    transform: skewX(-45deg);
    transform-origin: 100%;
}
.footer .bg-angled {
    top: 0px;
    left: 30%;
    position: absolute;
    right: 10px;
    height: 100%;
    background: #002f76;
    width: 72%;
    z-index: 0;
    transform: skewX(-45deg);
    transform-origin: 100%;
}
.content-wrapper .sidebar1 .arrow{
    display: none;
}
#box {
    width: 0;
    height: 3em;
    /* border: 4px solid #ccc; */
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
}

#box::before,
#box::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}

#box::before {
    border-width: 0;
    border-right-color: transparent;
    border-top-color: transparent;
}

#box::after {
    border-radius: 0;
    border-width: 1.20em;
    border-right-color: #002f76;
    border-bottom-color: #002f76;
}
html{
    position: relative;
    overflow-y: auto;
}
.background-wrapper{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 85%;
    background-color: #002f76;
}
.sidebar1 ul li:hover > ul{
    visibility: visible !important;
    opacity: 1 !important;
    left: 102% !important;
}
.sidebar1 ul li a:hover{
    background: #002f76 !important;
    color: #ffffff !important;
}
.navbar-header.active{
    background: #dfdfdf;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
    bottom: 12px;
}
tr.child{
    border-radius: 25px !important;
}
tr.child td:first-child{
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
}
tr.child td:last-child{
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
}
.hide{
    display: none;
}
.show{
    display: none;
}
.rc-handle-container {
    position: relative;
}
.rc-handle {
    position: absolute;
    width: 7px;
    cursor: ew-resize;
    margin-left: -3px;
    z-index: 2;
}
table.rc-table-resizing {
    cursor: ew-resize;
}
table.rc-table-resizing thead,
table.rc-table-resizing thead > th,
table.rc-table-resizing thead > th > a {
    cursor: ew-resize;
}
.combo-sheet{
    overflow-x: scroll;
    overflow-y: auto;
    max-height: 75vh;
    /*border: 2px solid #bdbdbd;*/
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}
.combo-sheet .table-wrapper{
    min-width: 1350px;
}
.combo-sheet table {
    border-collapse: collapse;
    border-spacing: 0px;
}
.combo-sheet thead{
    background-color: #C2DCE8;
}

.combo-sheet thead tr th{
    font-size: 12px;
    background-color: #002F76 !important;
    color: #FFFEFE !important;
    padding: 3px 5px !important;
    text-align: center;
    position: sticky;
    top: -1px;
    z-index: 1;
}
.combo-sheet td{
    padding: 0px !important;
    font-size: 13px;
}
.combo-sheet .maincat td {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #6A6C6B;
}
.combo-sheet .subcat td {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #A0A1A0;
}
.combo-sheet td input.cell-inp, .combo-sheet td textarea.cell-inp{
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    border: 1px solid #efefef  !important;
    border-top:  0px !important;
    border-left:  0px !important;
    /*border: none !important;*/
    padding: 3px 5px;
    cursor: default;
    color: #000000;
    font-size: 1.2rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}
.combo-sheet .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border: 1px solid #bdbdbd;
}
.combo-sheet tr:hover td, .combo-sheet tr:hover input{
    background-color: #ffdd99;
}
.combo-sheet tr.inFocus, .combo-sheet tr.inFocus input{
    background-color: #eaf204;
}
.open-rate-sheet{
    position: absolute;
    right: 5px;
    font-size: 16px;
    padding: 0 3px;
}
.combo-sheet.formula-sheet, .rate-sheet.rate-formula-sheet{
    position: absolute;
    left: 0;
    top: 0;
    overflow-x: scroll;
    overflow-y: auto;
    z-index: 2;
    background: #ffffff;
    margin: 0 5px;
    right: 0;
    display: none;
    max-height: 100vh;
    bottom: 0;
}
.combo-sheet select.cell-inp {
    padding: 2.5px 0;
    width: 100%;
    border: none;
}
.rate-formula-sheet .loaderx{
    padding: 18% 0;
}
.formula-sheet .loaderx{
    padding: 18% 0;
}
.context-menu {
    position: absolute;
    right: 5%;
    margin-top: 4px;
}
.row_position {
    overflow-y: scroll;
    max-height: 500px;
    display: block;
    width: 100%;
}
/*.row_head {
    display: table; !* to take the same width as tr *!
    width: calc(100% - 17px); !* - 17px because of the scrollbar width *!
}*/
.RowCategory{
    width: 63px;
}
.RowType{
    width: 45px;
}
.RowCode{
    width: 145px;
}
.RowDescription{
    width: 255px;
}
.RowUnit{
    width: 90px;
}
.RowBaseRate{
    width: 90px;
}
.RowSurcharge{
    width: 117px;
}
.RowDiscount{
    width: 108px;
}
.RowFactor{
    width: 90px;
}
.RowFinalRate{
    width: 90px;
}
.RowRemark{
    width: 360px;
}
.white-box{
    padding: 15px !important;
}
.pdl10{
    padding-left: 10px !important;
}
.page-title{
    color: #0f49bd;
    font-weight: 900;
}
.page-title i{
    margin-right: 5px;
}
.dotlevel1{
    font-size: 20px;
    color: #fff;
    display: contents;
    padding: 0px;
}
.dotlevel{
    font-size: 20px;
    color: #b5b8a5;
    display: contents;
    padding: 0px;
}
ul.timelinereply {
    list-style-type: none;
    position: relative;
}
ul.timelinereply:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timelinereply > li {
    margin: 5px 0;
    padding-left: 20px;
}
ul.timelinereply > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.mt-20{
    margin-top:20px;
}
.mr-10{
    margin-right:10px;
}
.full-image img{
    width: 100% !important;
    height: 200px;
    object-fit: contain;
    background: #fff;
}

td input.cell-inp, td textarea.cell-inp{
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    border: none !important;
    padding: 3px 5px;
    cursor: default;
    color: #000000;
    font-size: 1.2rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

.white-colour {
    color: #fff !important;
}
.black-colour {
    color: #1a1818; !important;
}
.progress{
    height: 15px !important;
}